<main data-aos="fade" id="wvu-main-content" class=" py-5 bg-dark text-white wvu-bg-position-center wvu-bg-size-cover" style="background-image: url(./assets/images/hero-background-001.jpg)">  
  <div class="container position-relative wvu-z-index-content">
    <div class="row py-5">
      <div class="col col-md-6 ms-md-auto">
        <div class="wvu-bg-tint p-3 p-lg-4 my-n4" data-aos="fade-up">
          <div class="wvu-z-index-content">            
            <h1 id="hero-1-label" class="{{ heroData.headerClasses }}">{{ home.headline }}</h1>            
            <p class="lead pb-2">{{ home.intro }}</p>
            <p><a class="btn btn-gold btn-lg mb-1" href="{{ site.url }}/#contact" role="button"><span class="fa-solid fa-screwdriver-wrench"></span> Request Service</a> <a class="btn btn-gold btn-lg mb-1" href="tel:{{ settings.phone }}" role="button"><span class="fa-solid fa-phone"></span> Call: {{ settings.phone }}</a></p>
            <p class="mb-0">View my <a class="text-white" href="{{ site.url }}/#services">list of services</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</main>